<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<ul class="people_list">
  {{#each about}}
    <li>{{ this }}</li>
  {{/each}}
</ul>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, fuga expedita commodi dolorum corporis est quasi velit esse possimus doloremque, sunt nemo similique! Fugiat, possimus vel porro alias eum illum.</p>
</body>
</html>